:root {
    --background-color1: #ffffff;
    --background-color2: #e5e5e5;
    --background-color3: #f5f4fa;
    --background-color4: #2f303a;
    --accent-color: #2196f3;
    --font-color1: #757575;
    --font-color2: #000000;
    --font-color3: #212121;
    --font-color4: rgba(255, 255, 255, 0.6);
    --logo-color: #afb1b8;
    --btn-active-color: #188ce8;
    --card-item-gap: 30px;
  }
  a {
    text-decoration: none;
  }
body {
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif; 
    color: #212121; 
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}
ul {
    margin: 0;
    padding: 0;
}

.logo {font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;
    color: #2196F3;
    
    padding-right: auto;
}
.type {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;
    color: #000000;
}
.foot {color:  #FFFFFF;}
.list { list-style: none;}
.link {text-decoration: none;}


/* .container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    /* outline: 2px solid red;} */
    

img {
    display: block;
}

/*---header--*/
.header {
  background-color: var(--background-color1);
  border-bottom: 1px solid #ececec;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  /* outline: tomato solid 2px; */
}
.header-box {
  display: flex;
  align-items: center;
}
.header-logo {
  font-family: 'Raleway';
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--font-color2);
}
.header-logo > span {
  color: var(--accent-color);
}
.header-nav {
  margin-left: 93px;
}
.nav-list {
  list-style: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
}
.nav-item:not(:last-child) {
  margin-right: 50px;
}
.nav.link {
  color: var(--font-color3);
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.nav.link.active {
  color: var(--accent-color);
  position: relative;
}
.nav.link.active::after {
  content: '';
  position: absolute;
  height: 4px;
  width: 100%;
  border-radius: 2px;
  left: 0;
  bottom: 0;
  background-color: var(--accent-color);
}
.header-contact.link {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--font-color1);
  margin-left: auto;
  transition: color 250ms linear;
}
.nav.link:hover,
.nav.link:focus,
.header-contact.link:hover,
.header-contact.link:focus {
  color: var(--accent-color);
}
.header-contact-icon {
  margin-right: 10px;
  fill: currentColor;
}
.header-contact-icon:hover {
  fill: currentColor;
}
.header-contact.link:last-child {
  margin-left: 50px;
  margin-right: 0;
}
/* section1*/
    .first {max-width: 1600px;
        height: 600px;
        margin-left: auto;
  margin-right: auto;
        background-color:#2F303A; 
  text-align: center;
  padding-bottom: 200px;
        padding-top: 200px;
        background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../image/head-bg.jpg);
        
    }   
   .two {
    padding-top: 94px;
    padding-bottom: 94px;  
   } 
   
   
   .three{
    padding-bottom: 94px;
    

  
   }    
    
    /* .block {
      
        padding-bottom: 200px;
        padding-top: 200px;} */
    .section1 {
        font-style: normal;
        font-weight: 900;
        font-size: 44px;
        line-height: calc(60 / 44);
        /* or 136% */
        
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        max-width: 696px;
  margin-bottom: 30px;
  
  margin-left: auto;
  margin-right: auto;
        color: #FFFFFF;}
       
        
    .first-section {
            font-weight: bold;
            font-size: 14px;
            line-height: calc(16 / 14);
            letter-spacing: 0.03em;
            text-transform: uppercase;
            color: #212121;
            margin-bottom: 10px;
        }
        .f1 {
            width: 270px;
            margin-right: 30px;
        }
        .f1:last-child {
            margin-right: 0;}
            .features-block {
              padding-top: 94px;
              padding-bottom: 94px;
            }
            .visually-hidden {
              position: absolute;
              width: 1px;
              height: 1px;
              margin: -1px;
              border: 0;
              padding: 0;
              white-space: nowrap;
              clip-path: inset(100%);
              clip: rect(0 0 0 0);
              overflow: hidden;
            }
            .features-list {
              display: flex;
              list-style: none;
              flex-direction: row;
              margin-right: -30px;
              /* outline: 2px solid tomato; */
            }
            .features-item {
              flex-basis: calc(100% / 4 - 30px);
              margin-right: 30px;
            }
            .features-item::before {
              content: '';
              display: block;
              height: 120px;
              margin-bottom: 30px;
              background-color: var(--background-color3);
              background-size: 70px, 70px;
              background-repeat: no-repeat;
              background-position: center;
              border-radius: 4px;
            }
            .attention-icon::before {
              background-image: url(../image/antenna-icon.svg);
            }
            .punctuality-icon::before {
              background-image: url(../image/clock-icon.svg);
            }
            .plan-icon::before {
              background-image: url(../image/diagram-icon.svg);
            }
            .modern-icon::before {
              background-image: url(../image/astronaut-icon.svg);
            }
            .features-name {
              font-weight: bold;
              font-size: 14px;
              line-height: 1.4;
              letter-spacing: 0.03em;
              text-transform: uppercase;
              color: var(--font-color3);
              margin-bottom: 10px;
            }
            .features-description {
              font-weight: normal;
              font-size: 14px;
              line-height: 1.71;
              letter-spacing: 0.03em;
              color: var(--font-color1);
            }
    .first-par {
            font-weight: normal;
            font-size: 14px;
            line-height: calc(24 / 14);
            /* or 171% */

            letter-spacing: 0.03em;

            color: #757575;
            
        }
        .sec-one {
            padding-left: 215px;
            padding-right: 30px;
          
        }
        .sec-two {
           padding-right: 30px;
        }
        .item{
            
        }
/*--button*/

    .button-one{
        font-family: inherit;
        font-weight: bold;
        font-size: 16px;
        line-height: 1.87;
        text-align: center;
        letter-spacing: 0.06em;
        color: #FFFFFF;
        background-color: #2196F3;
        cursor: pointer;
        border: none;
        border-radius: 4px;
        box-shadow: 0px 4px 4px (0, 0, 0, 0.15);
        padding: 10px 32px;

        }
    .button-one:hover,.button-one:focus{
            color: #FFFFFF;
            background-color: #138cef;;
        }
        .filtered {
            list-style: none;
            
            margin-bottom: 50px;
  display: flex;
  justify-content: center;
        }
        .filter-item {
            margin-right: 8px;
          }
          .filter-item:last-child {
            margin-right: 0;}
            .filter-btn.all {
                color: #FFFFFF;
                background-color: #2196F3;
                box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
                  0px 2px 2px rgba(0, 0, 0, 0.12);
              }
              .filter-btn {
                font-family: inherit;
                font-weight: 500;
                font-size: 16px;
                line-height: calc(26 / 16);
                text-align: center;
                letter-spacing: 0.03em;
                color: #212121;
                background-color: #F5F4FA;
                cursor: pointer;
                /* display: block; */
                border: none;
                border-radius: 4px;
                padding: 6px 22px;
                
              }
              .filter-btn:hover,
              .filter-btn:focus {
                color: #FFFFFF;
                background-color: #2196F3;
              }
/*--секция2,3*/
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
    .wap {
        display: flex;
        flex-direction: row;
        justify-content: center;
        list-style: none;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
    }
    .img{
        display: flex;
    }
    .f2{
      position: relative;
    }
    .f2:not(:first-child) {
        margin-left: 30px;
    }
    .options{
        font-weight: bold;
        font-size: 36px;
        line-height: calc(42 / 36);
        text-align: center;
        letter-spacing: 0.03em;
        margin-bottom: 50px;

        color: #212121;
}

.
/*--Наша команда-*/
.three {padding-bottom: 94px;}
.what-we-do{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  max-height: 70px;
  padding-top: 27px;
  padding-bottom: 27px;
  background-color: rgba(47, 48, 58, 0.8);
}
.what-we{
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--background-color1);
}

 .four {padding-top: 94px;
    padding-bottom: 94px;
     background-color: #F5F4FA;}

    .nam{
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        /* identical to box height */
        
        text-align: center;
        letter-spacing: 0.03em;  
        
}
    .pr-wo {
        border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
        padding: 20px 24px;
    }
    .f3:not(:first-child) {
        margin-left: 30px;}
    .f3    {box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    background-color: var(--background-color1);
    border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
    }
    

    .prof {
        font-weight: normal;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
        color: #757575;
       
        margin-top: 10px;
        
    }
    .social-list {
      display: flex;
      justify-content: center;
    align-items: center;
    margin-right: -10px;
    margin-top: 16px;
    }
    .social-item {
        margin-right: 10px;
      }
      .social-link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        color: var(--logo-color);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }
      .social-link:hover,
      .social-link:focus {
        color: var(--background-color1);
        background-color: var(--accent-color);
      }
      .social-logo {
        fill: currentColor;
        
      }
    
      

/*--section portfolio--*/
    .project {
        font-weight: bold;
        font-size: 18px;
        line-height: calc(36 / 18);
        /* identical to box height, or 200% */

        letter-spacing: 0.06em;

        color: #212121;
        margin-bottom: 4px;
}
.portfolio{
    padding-top: 94px;
    padding-bottom: 94px;
}
.team {}
    
 .project-image{
  position: relative;
  overflow: hidden;
   
}
.project-point{
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  font-weight: normal;
  padding: 24px;
  font-size: 18px;
  line-height: calc(28 / 18);
  letter-spacing: 0.03em;
  color: var(--background-color1);
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(101%);
  transition-property: transform;
  transition-delay: 0;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.img-port{
   display: flex;
   justify-content: center;
    
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
    
}
.mmj-teh {
     flex-basis: calc(100% / 3 - 30px); 
     flex-basis: calc((100% - 90px) / 3);
     margin: 15px;
     
     
}
.imj-teh:not(:nth-child(3n + 3)){
    margin-right: 30px;
    margin-bottom: 30px;
}
.imj-teh:nth-child(3),:nth-child(6) {
    margin-bottom: 30px;
}
.imj-teh:nth-child(7) {
    margin-bottom: 0px;
}
.imj-teh:nth-child(8) {
    margin-bottom: 0;
}
.project-link {
  display: block;
}
.project-link:hover,
.project-link:focus,
 {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.project-link:hover .project-point,
.project-link:focus .project-point{
  pointer-events: visible;
  transform: translateY(0%);
}

.member-card {
    background-color: #FFFFFF (--background-color1);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    padding-top: var(--card-item-gap);
    padding-bottom: var(--card-item-gap);
    padding-top: 30px;
    padding-bottom: 30px;
  }
    .portfolio-sec {
        padding-bottom: 94px;
        padding-top: 94px;
       
      
        
    }
    .work {
        font-weight: normal;
        font-size: 16px;
        line-height: calc(30 / 16);
        /* identical to box height, or 187% */

        letter-spacing: 0.03em;

        color: #757575;
}
/* ---------------Our clients--------------------- */
.clients-block {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: var(--background-color1);
  }
  .clients-title {
    font-weight: bold;
    font-size: 36px;
    line-height: calc(42 / 36);
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
  }
  .clients-list {
    display: flex;
  }
  .clients-item {
    margin-right: var(--card-item-gap);
    margin-bottom: 0;
  }
  .clients-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    border: 1px solid var(--logo-color);
    border-radius: 4px;
    color: var(--accent-color);
  }
  .clients-link:hover,
  .clients-link:focus {
    border: 1px solid var(--accent-color);
  }
  .clients-link:hover .client-icon,
  .clients-link:focus .client-icon {
    fill: var(--accent-color);
  }
  .client-icon {
    fill: var(--logo-color);
  }


/*footer*/
.footer-block {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background-color4);
}
.footer-box {
  display: flex;
}
.address-box {
  margin-right: 70px;
}

a[class*='footer'] {
  display: block;
}

.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--background-color1);
  margin-bottom: 20px;
}
.footer-logo > span {
  color: var(--accent-color);
}
.address.link {
  font-weight: normal;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  font-style: normal;
  color: var(--background-color1);
  display: block;
  margin-bottom: 9px;
}

.footer-contact.link {
  font-weight: normal;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--font-color4);
  margin-bottom: 9px;
}

.footer-contact.link:hover,
.footer-contact.link:focus {
  color: var(--background-color1);
}
.join-us-title {
  margin-bottom: 20px;
  margin-top: 12px;
  color: var(--background-color1);
  font-weight: bold;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.join-us-list {
  display: flex;
}
.join-us-item:not(:last-child) {
  margin-right: 10px;
}
.join-us-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color:#ffffff;
}
.join-us-link:focus,
.join-us-link:hover {
  background-color: var(--accent-color);

}
.join-us-logo {
  fill: currentColor;
}
/* --------------Modal Window---------------------------- */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 528px;
  min-height: 581px;
  background-color: var(--background-color1);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.close-modal-btn {
  position: absolute;
  cursor: pointer;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--background-color1);
}
